<!-- parent to child interaction -->
<form [formGroup]="signupForm">
    <ion-grid align="center">
        <ion-row>
            <ion-col col-3>
              </ion-col>
          <ion-col>
            
              <ion-item class="newionInput" >
                  <ion-input type="name" formControlName="fname"  placeholder="First Name" class="loginEmail"></ion-input>
              </ion-item>            
          </ion-col>
          <ion-col col-3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3>
              </ion-col>
          <ion-col>
            
              <ion-item class="newionInput" >
                  <ion-input type="name" formControlName="lname"  placeholder="Last Name" class="loginEmail"></ion-input>
              </ion-item>            
          </ion-col>
          <ion-col col-3>
            </ion-col>
        </ion-row>
            <ion-row>
                <ion-col col-3>
                  </ion-col>
              <ion-col>
                
                  <ion-item class="newionInput" >
                      <ion-input type="Email" formControlName="email" name="email" placeholder="Email" class="loginEmail"></ion-input>
                  </ion-item>
                
              </ion-col>
              <ion-col col-3>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ng-container *ngFor="let validation of validation_messages.email">
                        <div class="error-message" *ngIf="signupForm.get('email').hasError(validation.type) && signupForm.controls['email'].touched">{{validation.message}}</div>
                      </ng-container>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3>
                  </ion-col>
                <ion-col>
                  <ion-item class="newionInput">
                      <ion-input type="Password" formControlName="pass" placeholder="Password"></ion-input>
                  </ion-item>                           
                </ion-col>
                <ion-col col-3>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col class="required">
                      <ng-container *ngFor="let validation of validation_messages.password">
                          <div class="error-message" *ngIf="signupForm.get('pass').hasError(validation.type) && signupForm.controls['pass'].touched">{{validation.message}}</div>   
                        </ng-container>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>  <ion-label [(ngModel)]="message" *ngIf="message" [ngModelOptions]="{standalone: true}">
                      {{message}}
                    </ion-label></ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                  </ion-col>
                  <ion-col col-8>
                      
                      <button ion-button (click)="createAcc()" [disabled]="signupForm.invalid">signup</button>
                  </ion-col>
                  <ion-col>
                  </ion-col>
                </ion-row>
                <ion-row>
                        <ion-col>
                        </ion-col>
                        <ion-col col-8>
                            <label>
                                If you forgot password
                            </label>
                            <button (click)="createAcc()">reset password</button>
                        </ion-col>
                        <ion-col>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                            <ion-col>
                            </ion-col>
                            <ion-col col-8>
                                <button ion-button (click)="getLogin()">
                                    Sign Up with Google+
                                     </button>
                                <button ion-button (click)="createAcc()">Signup with Facebook</button>
                            </ion-col>
                            <ion-col>
                            </ion-col>
                          </ion-row>
          </ion-grid>
</form>