<div>This is MY schedule</div>

  <!-- inspired by http://colorhunt.co/c/8184 and 
    https://dribbble.com/shots/2407357-Calendar%60 -->

    <div class="container">
            <div class="calendar">
              <div class="front">
                <div class="current-date">
                  <h1>{{currentDate.format('LL')}}</h1>
                  <h1>Month <div (click)="prevMonth()"><img src="../../assets/icon/arrow-left.png" class="arrow-date"></div>{{ currentDate.format('MMMM') }}<div (click)="nextMonth()"><img src="../../assets/icon/arrow-right.png" class="arrow-date"> </div></h1>
                  <h1>Year <div (click)="prevYear()"><img src="../../assets/icon/arrow-left.png" class="arrow-date"></div>{{ currentDate.format('YYYY') }}<div (click)="nextYear()"><img src="../../assets/icon/arrow-right.png" class="arrow-date"> </div></h1>
                  
                  
                </div>      
                <div class="current-month">
                  <ul class="week-days"> 
                    <li *ngFor="let name of dayNames">{{name}}</li>                    
                  </ul>      
                  <div class="weeks">
                      <div class="first" *ngFor="let week of weeks">
                          <div *ngFor="let day of week;" >
                                <span class="last-month" *ngIf="!isSelectedMonth(day.mDate)"  > 
                                    {{ day.mDate.date()}}
                                    </span>
                                    <span *ngIf="isSelectedMonth(day.mDate)" (click)="selectDate(day, item,$event)"> 
                                        {{ day.mDate.date()}}
                                        </span>
                                    <!-- <span *ngIf="isSelectedMonth(day.mDate)">                                             
                                      
                                            <h6 *ngFor="let item of scheduleWork" >
                                             <h6 *ngIf="item.date === day.mDate.format('YYYY-MM-DD')" (click)="selectDate(day, item,$event)" #date>
                                              {{day.mDate.date()}}
                                             </h6>   
                                             
                                            </h6>
                                           
                                            </span> -->
                                            
                          </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
          <div class="container">
            <ion-grid *ngIf="selectedWorkout"  class="grid-items-list">
              <ion-row style="text-align: center">
                <ion-col col-12>Exercises</ion-col>
              </ion-row>
              <ion-row >
                
                <ion-col>
                    {{selectedWorkout.data.exe_name}}
                </ion-col>
              </ion-row>
              <ion-row *ngFor="let item of selectedWorkout.data.sets; let i = index;">
                  <ion-col col-6>Set {{i+1}}</ion-col>
                  <ion-col col-6>{{item.reps}}</ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid *ngIf="!selectedWorkout"  class="grid-items-list">
              <ion-row>
                <ion-col>
                  NOT SCHEDULE
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        