create-tweet {

}

.imgAttach {
    height: 30px;
    width: 30px;
}
.btn-tweet {
    height: 10%;
    width: 40%;
    background: orange;
}
.selectedImg {
height: 100px;
width: 100px;
}
.img-delete {
width: 20px;
height: 20px;

}