<ion-item padding>
  <ion-label floating>Whats on your mind?</ion-label>
  <ion-input [(ngModel)]="t_title"></ion-input>
  
</ion-item>
<ion-item>
<ion-label floating>Description</ion-label> <ion-input [(ngModel)]="tweetcontent"></ion-input>

</ion-item>
<ion-item>
<img src=".././../assets/imgs/attach.svg" class="imgAttach" (click)="select()"/>
<!-- <img [src]="imageUrl"> -->
<div class="imgAttach" *ngIf="imageUrl" [style.background-image]="getImgUrl()"></div>

</ion-item>
<ion-item>
  <button ion-button (click)="createTweet()" class="btn-tweet">
    <!-- <ion-label>Create Tweet</ion-label> -->
     <ion-spinner name="bubbles"></ion-spinner>

  </button>
</ion-item>