
.login-button-bottom {
    // // position: fixed;
    // bottom: 0%;
    // width: 100%;
    // right: 0%;
    // // border-bottom:15px solid rgba(#0f132a,.1);
    // box-shadow:0 15px 30px rgba(#e91e63,.36);
    // border-radius: 20px;
    // padding-bottom: 20px;
    
}
.btn-login {
    width: 100%;
    height: 40px;
    transition: width 1.5s;
    border-radius: 40px;
    margin-bottom: 30px;
    background-color: #2abb9c;
}
.btn-login-click {
width: 29%;
}
.switch-sign {
    transition: 2s;
}
.heart-black-animate {
    transition: 1s;
    color: red;
}
#heart-like {
    font-size: 20px;
}
.toast-error {
    color: red;
}
.toast-success {
    color: green;
}
.passwordIcon {
    font-size:2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
 }
  ion-col {
    position: initial;
 }