<form>
<div *ngIf="slides === 1">
  <div>
    {{progress}}
  </div>
  <ion-label>Set a Username</ion-label>
  <div (click)="onProfileImage()">
      <img [src]=user.profile_pic height="50%" width="30%">
  </div>
  <input ion-input type="text" placeholder="Username" [value]=user.first_name />
  <div> <button ion-button (click)="nextSlide()">Next</button></div>
</div>
<div *ngIf="slides === 2">
<ion-label>Slide 2</ion-label>
<input ion-input type="text" placeholder="First Name"/>
<div> <button ion-button (click)="nextSlide()">Next</button></div>
</div>
<div *ngIf="slides === 3">
    <ion-label>Slide 3</ion-label>
    <input ion-input type="text" placeholder="Last Name"/>
    
  <div> <button ion-button (click)="nextSlide()">Start</button></div>
</div>
</form>