social-slider {

}
.social-profile-edit-main {
    width: 100%;
    height: 50%;
    background: whitesmoke;
    font-size: 20px;
}

.google-map-main {
    width: 100%;
    height: auto;
    background: brown;
}