
.social-profile-edit-main {
    width: 100%;
    height: 50%;
    background: rgb(252, 253, 253);
    font-size: 20px;
    box-shadow: 5px 8px rgb(213, 218, 218);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.google-map-main {
    width: 100%;
    height: auto;
    background: brown;
}
.col-profile-edit {
    font-size: 14px;
    color: rgb(49, 48, 75);

    
    font-family: 'Gentium Book Basic', serif;


}
.image-profile {
    border-radius: 20px
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
  .interest-main {
      height: auto;
      width: 100%;
      background: lightpink;
  }
  .select-interest {
    color: lightcyan;
  }
  .unselect-interest {
color: darkcyan;
  }