<ion-header>
  <ion-toolbar style="background: paleturquoise">
    <!-- <ion-title>@{{username}}</ion-title> -->
    
    
    <div class="divNoti"  (click)="dismiss()" >
       
               
       
       <img class="iconNotification" src="../../assets/icon/close.svg">
    </div>
             
  </ion-toolbar>
    
    
</ion-header>
<ion-content>
  <div>
    Shedule Assessment for {{user}}
  </div>
<div>Assessment Date</div>
<div>
  <ion-input type="date" placeholder="DD-MM-YYYY">

  </ion-input>
</div>
<div>
  
</div>  
</ion-content>