<ion-header>
  <ion-toolbar style="background: paleturquoise">
    <ion-title>Schedule Assessment</ion-title>
    
    
    <div class="divNoti"  (click)="dismiss()" >
       
               
       
       <img class="iconNotification" src="../../assets/icon/close.svg">
    </div>
             
  </ion-toolbar>
    
    
</ion-header>
<ion-content class="content-schedule-assessment">
<ion-grid>
  <ion-row>
    <ion-col>
        <div *ngIf="clientData">
            {{clientData.client_name}}
          </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <div>Assessment Date</div>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
          <div>
              <ion-input type="date" placeholder="DD-MM-YYYY">
            
              </ion-input>
            </div>
      </ion-col>
      
    </ion-row>
   
</ion-grid>

  


<div>
  
</div>  
</ion-content>