selectclient {
    // $modal-inset-min-width:0;
    // $modal-inset-min-height-small:0;
    // display: flex;
    // height: auto;
    position: absolute;
    top: 20%;
    left: 10%;
    display: block;
    width: 80%;
    height: 50%;
    border: 5px solid;
    border-radius: 25px;
}

// .ios, .md {

//     selectclient {

//         width: 100%;
//         height: 50%;
//         position: absolute;
//         bottom: 8%;
//         z-index: 10 !important;
//         box-shadow: 0px -4px 22px -8px rgba(0,0,0,0.75);

//     }

// }