
  <div class="divhead" padding>
  
    <div class="divProfile"> 
        
        <ion-avatar class="profi-pic" (click)=actionForProfile()>
          
            <!-- <img class="profi-pic" src="https://pbs.twimg.com/profile_images/971635378892386304/fqqp4Sru.jpg"/> -->
            <!-- <img [src]=userModel.profile_pic caption="As" class="profi-pic"/> -->
            
            
        </ion-avatar>
        <!-- <div class="proName"><ion-label class="profile-name">{{   userModel.user_name }}</ion-label></div> -->
        
      </div>
      
      
  <!-- <div class="divEdit">
    <p>
        <ion-button [routerLink]="['/create']" routerLinkActive="router-link-active" >
          Edit Profiles
        </ion-button>
      </p>
  </div> -->
  
  </div>
<div class="bio-main">
<!-- <textarea class="input-bio" [(ngModel)]="userModel.bio" (change)="changeBio(bio);" [maxlength]="150" placeholder="Write Your bio Here"></textarea> -->
<ion-label class="bio-length">20/150</ion-label>



</div>


<div padding class="divProfileUpdate">
    <div class="main-follow">
     <!-- <a> {{userModel.followers.length}} Followers</a>      -->
      </div> 
      <div class="main-follow">
        <!-- <a> {{userModel.followings.length}} Followings</a> -->
          </div> 
          <div class="main-follow">
             <!-- {{userModel.tweets.length}} Tweets -->
              </div> 

<div class="profile-segment-main">
    <ion-segment [(ngModel)]="profileSegment" (ionChange)="segmentChange()">
        <ion-segment-button value="feeds">
            Feeds
        </ion-segment-button>
        <ion-segment-button value="profile">
          Profile
        </ion-segment-button>
    </ion-segment>
  </div>
  <div class="profile-segment" [ngSwitch]="profileSegment">
      
          <div *ngSwitchCase="'feeds'" checked>
            No Feeds 
            <!-- <feeds [tweetModel]=userModel.tweets></feeds> -->
            </div>
            <div *ngSwitchCase="'profile'">
              <form [formGroup]="myForm">
        <ion-item>
            
                <ion-input type="text" formControlName="username" placeholder="Username"></ion-input> 
                
            
            <div>
                <ng-container *ngFor="let validation of validation_messages.username">
                    <div class="error-message" *ngIf="myForm.get('username').hasError(validation.type) && myForm.controls['username'].touched">{{validation.message}}</div> 
                  </ng-container>  
            </div>
            
          
          </ion-item>
          <ion-item>
            
              <ion-input type="mobile" formControlName="mobile"  placeholder="Mobile"></ion-input>
              <ng-container *ngFor="let validation of validation_messages.mobile">
                  <div class="error-message" *ngIf="myForm.get('mobile').hasError(validation.type) && myForm.controls['mobile'].touched">{{validation.message}}</div>   
                </ng-container>
            </ion-item>
            <ion-item>
              
                <ion-input type="text" formControlName="dob" name="dob"  placeholder="DD-MM-YYYY"></ion-input>
              </ion-item>
            <!-- <ion-item>
                
                  <ion-input type="Email" formControlName="email" name="email"></ion-input>
                </ion-item> -->
                    
                    
                          <ion-item>
    
                            
                              <ion-textarea formControlName="address" placeholder="Address"></ion-textarea>
                              <ng-container *ngFor="let validation of validation_messages.address">
                                <div class="error-message" *ngIf="myForm.get('address').hasError(validation.type) && myForm.controls['address'].touched">{{validation.message}}</div>
                              </ng-container>
                            </ion-item>
                            
                              <ion-item><button class="btnSave" ion-button (click)="saveProfile()" [disabled]="myForm.invalid">Save</button></ion-item>
                                        
    </form>
            </div>
      
        
  </div>
  
</div>

<!-- <ion-item>
                          
                            <ion-textarea formControlName="hobbies" placeholder="hobbies"></ion-textarea>
                            <ng-container *ngFor="let validation of validation_messages.address">
                              <div class="error-message" *ngIf="myForm.get('address').hasError(validation.type) && myForm.controls['hobbies'].touched">{{validation.message}}</div>
                            </ng-container>
                          </ion-item> -->
                    