
.profi-pic {
    height: 100px;
    width: 150px;
    background: rgb(128, 189, 255);
    border-radius: 20px;
//     position: absolute;
//    right: 30%;
}
.divProfile {
     display: block;
   margin-left: auto;
   margin-right: auto;
   width: 140px;
   height: 100px;
   background: rgb(128, 189, 255);
   align-content: center;
}
// .divEdit {
//     height: 100px;
//     width: 100px;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
// }
.divhead {
    height: 20%;
    width: 100%;
    background: skyblue
    ;
    padding-top: 0px;
    border-radius: 10px 10px 10px 10px;
}
.profile-avatar {
    height: 100%;
    width: 100%;   

}
.profile-button {
    --height: 100%;
    --width: 100%;
    --background:rgb(128, 189, 255);
}
.div-profile {
    height: 100%;
    width: 100%;
    background: rgb(91, 149, 211);
}
.divProfileUpdate {
    background: rgb(102, 176, 255);
    border-radius: 50px 50px 50px 50px;
}