<!-- <ion-row>
              <ion-col col-12 class="animated fadeInLeft delay-5s">
                  <ion-item>
                      <ion-label>Level</ion-label>
                      <ion-select formControlName="client_level">
                        <ion-option  value="beginner">Beginner</ion-option>
                        <ion-option value="intermediate">Intermediate</ion-option>
                        <ion-option value="advanced">Advanced</ion-option>
                      </ion-select>
                    </ion-item>
              
                </ion-col>
            </ion-row> -->


<mat-vertical-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup" [completed]="false" >
        
          <ng-template matStepLabel>Client Details</ng-template>
          <!-- <mat-form-field [formGroup]="firstFormGroup" > -->
            <form [formGroup]="firstFormGroup" >
              <ion-grid>
                <ion-row>
                  <ion-col col-12>
                    <ion-item class="animated fadeInLeft delay-1s">
                        <ion-input placeholder="First name" formControlName="fname" matInput></ion-input>
                        <!-- <input placeholder="First name" formControlName="first_name" matInput> -->
                        
                    </ion-item>                
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <ion-item class="animated fadeInLeft delay-1s">
                        <ion-input placeholder="Last name" formControlName="lname" matInput></ion-input>
                          <!-- <input placeholder="Last name" formControlName="last_name" matInput> -->
                    </ion-item>                
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                  <ion-item class="animated fadeInLeft delay-3s"> 
                      <ion-input placeholder="Email" formControlName="email" matInput></ion-input>
                      <!-- <input placeholder="Email" formControlName="email" matInput> -->
                  </ion-item>
                  </ion-col>
                </ion-row>
                
                
                <ion-row>
                    <ion-col>
                  <ion-item class="animated fadeInLeft delay-3s"> 
                    <ion-label>Gender</ion-label>
                      <ion-select formControlName="gender">
                        <ion-option value="Male">Male</ion-option>
                        <ion-option value="Female">Female</ion-option>
                      </ion-select>
                     
                  </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                  <ion-item class="animated fadeInLeft delay-3s"> 
                    <ion-label>Date of Birth</ion-label>
                     <ion-datetime displayFormat="MM:DD:YYYY" formControlName="dob"></ion-datetime>
                     
                  </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                <ion-item class="animated fadeInLeft delay-3s"> 
                  <ion-label>Password</ion-label>
                  <ion-input  formControlName="pass" type="Password" ></ion-input>
                   
                </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
              <ion-item class="animated fadeInLeft delay-3s"> 
                <ion-label>Confirm Password</ion-label>
                 <ion-input formControlName="cpass" type="Password" ></ion-input>
                 
              </ion-item>
              </ion-col>
            </ion-row>
              </ion-grid>
            <div>
              <button ion-button mat-button matStepperNext>Next</button>
            </div>
            </form>
          <!-- </mat-form-field> -->
          
        <!-- </form>   -->
      </mat-step>
       <mat-step [stepControl]="secondFormGroup"  [completed]="false">
        
          <ng-template matStepLabel>Fitness Goal</ng-template> 
          <!-- <mat-form-field>
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field> -->
          <ion-grid>
            <form [formGroup]="secondFormGroup">
            <ion-row col-12>
              <ion-col col-12 class="animated fadeInLeft delay-5s">
                  <ion-item>
                      <ion-label>Goal</ion-label>
                      <ion-select formControlName="client_goal">
                        <ion-option ion-option value="Muscle Building">Muscle Building</ion-option>
                        <ion-option value="Gain Strength">Gain Strength</ion-option>
                        <ion-option value="Mass Growth">Mass Growth</ion-option>
                        <ion-option value="Athlete Body">Athlete Body</ion-option>
                        <ion-option value="Powerlifting">Powerlifting</ion-option>
                        <ion-option value="Fat Loss">Fat Loss</ion-option>
                      </ion-select>
                    </ion-item>
                
                </ion-col>
            </ion-row>
          
            
          </form>
          </ion-grid>
          
          <div>
            
            <div>
              <button ion-button mat-button matStepperPrevious>Back</button>
              
                  <button class="btn-ripple" ion-button (click)="addClient()">Finish</button>
              
            </div>
          </div>
        
      </mat-step>
      <!-- <mat-step  [completed]="false">
        <ng-template matStepLabel>Done</ng-template>
       <form [formGroup]="thirdFormGroup">
          <div>
          <ion-item>
              <ion-label>Workout Plan</ion-label>
              <ion-select name="category" formControlName="workout_plan">
                  
                  <ion-option *ngFor="let category of work_plans" [value]="category.id">
                      {{category.work_name}}
                  </ion-option>
              </ion-select>
        </ion-item>
        
        </div>
        <div>
            <ion-item>
                <ion-input placeholder="How many weeks?" formControlName="weeks" matInput></ion-input>
              </ion-item>
        </div>
        <div>
            <ion-item>
                <ion-label>Meal Plan</ion-label>
                <ion-select formControlName="meal_plan" name="category2">
                    
                    <ion-option *ngFor="let meal of meal_plans" [value]="meal.meal_name">
                        {{meal.meal_name}}
                    </ion-option>
                </ion-select>
          </ion-item>
          </div>
       </form>
       
        <div>
          <button ion-button mat-button matStepperPrevious>Back</button>
          
              <button class="btn-ripple" ion-button (click)="addClient()">Finish</button>
          
        </div>
      </mat-step> -->
</mat-vertical-stepper>


