newclient {
    
}
.btn-ripple:after {
    content: "";
    background: gray;
    display: block;
    position: absolute;
    padding-top: 10%;
    padding-left: 40%;
    margin-left: -20px!important;
    margin-top: -30%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .btn-ripple:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }



  