<ion-grid>
  <ion-row>
    <ion-col col-12>
      <ion-item class="animated fadeInLeft delay-1s">
          <ion-input placeholder="Client name"></ion-input>
      </ion-item>
    
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col col-12 class="animated fadeInLeft delay-3s">
      <select>
          <option>Weight Loss</option>
          <option>Muscle Growth</option>
          <option>Mass Gain</option>
          <option>Power Lifting</option>
          <option>Gain Strength</option>
        </select>
      </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-12 class="animated fadeInLeft delay-5s">
      <select>
          <option>Begginer</option>
          <option>Intermediate</option>
          <option>Advanced</option>
        </select>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 class="animated fadeInLeft delay-7s" >
      

      <select>
          <option>My Workout 1</option>
          <option>My Workout 2</option>
          <option>My Workout 3</option>
          <option>My Workout 4</option>
          <option>My Workout 5</option>
        </select>
      </ion-col>
      
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="trainer-home-bottom" class="animated fadeInUp delay-3s">
          <button class="label-activity">Create Client</button>
      </div>
  </ion-col>
  </ion-row>
</ion-grid>
<div class="client-basic">
  </div>
<div class="client-advance">
   
</div>
<div>
    
</div>