page-tab-home {

}
// .tweet-item {
//     background: rebeccapurple;
// }
// .divTweetContent {
//     height: 100%;
//     background: red;
// }
.contentMain {
    height: 100%;
    width: 100%;
    background: royalblue;
}