.contentVerification {
    background: azure;
}
.toolbarVeri {
    background: blue;
}
.mainPhone {
    width: 100%;
    height: 10%;
    // background: cornsilk;
}
.divCC {
    width: 20%;
    height: 100%;
    background: cornsilk;
    float: left;
}
.divMobile{
    width: 60%;
    height: 100%;
    background: burlywood;
    float: left;
}
.inptCC {
    width: 100%;
}
.inptLine {
    width: 100%;
}
.btnSendOtp {
    width: 40%;
    align-self: center;
    left: 25%;
    top: 75%;
}