
// .tweet-item {
//     background: rebeccapurple;
// }
// .divTweetContent {
//     height: 100%;
//     background: red;
// }
.contentMain {

    height: 100%;
    width: 100%;
    background: #F4F4E9;
}
.img-logout {
    height: 30%;
    width: 10%;
    // position: absolute;
    left: 50%;    
}
.btnLogout  {
    position:absolute;
    right:0px;
    top:0px;
    width: 20%;
    background: #829C73;
}
.divNoti {
    height: 100%;
    width: 50px;
    // background: blueviolet;
    position: absolute;
    right: 0%;
    top:0px;
    color:rebeccapurple;
    border-radius: 20px;
    // background: rosybrown;
}

.iconNotification {
    height: 100%;
    width: 100%;
    // filter: invert(50%);
    fill: black;
}
// Sidebar Css
.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    top: 0%;
    left: 0;
    background-color: rgb(107, 168, 88);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    bottom: 0%;
    // background-image: url('../../assets/imgs/sidebar_background.jpg');
    // background-repeat: repeat;
    background-color: #cf7575;
    box-shadow:  0px 2px 13px rgb(207, 117, 117);

    overflow: scroll;
    // opacity: 0.8;
  filter: alpha(opacity=100); 
}
.sidenav .closebtn {
    position: absolute;
    top: 10%;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: crimson;

  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  #mySidenav button {
      height: 50px;
      width: 100%;
  }
// Sidebar Css
.lbl-notification {
    height: 20px;
    width: 20px;
    background: #829C73;
    position: absolute;
    right: 0%;
    border-radius: 5px;
    text-align: center;
}
.sidebar-profile-div {
    height: 30%;
    width: 100%;
    // background: blueviolet;
}
.sidebar-profile-img {
    height: 100%;
    width: 100%;
}
.noti-slider-bar {
    height: 0px;
    width: 50%;
    background: #89d29f;
    float: right;
    // visibility: hidden;
    transition: all 0.5s ease;
    position: absolute;
    top: 0%;
    right: 0%;
    border-radius: 20px;
    overflow: hidden;
    // box-shadow: 20px;
    z-index: inherit;
}
.click-not-slider-bar {
    height: 300px;
    // visibility: hidden;    
}
.sidemenu-main {
    position: relative;
    top:20%;
}
.home-content-main {
    height: 100%;
    width: 100%;
    background: lightgray;
}
.ad-content-top {
    height: 20%;
    width: 100%;
    background: rebeccapurple;
}
.segment-button {
    color: rgb(8, 8, 8);
}



// Slider Tab
// html, body {
//     position: relative;
//     height: 100%;
//   }
//   body {
//     background: #000;
//     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//     font-size: 14px;
//     color:#000;
//     margin: 0;
//     padding: 0;
//   }
//   .swiper-container {
//     width: 100%;
//     height: 300px;
//     margin-left: auto;
//     margin-right: auto;
//   }
//   .swiper-slide {
//     background-size: cover;
//     background-position: center;
//   }
//   .gallery-top {
//     height: 80%;
//     width: 100%;
//   }
//   .gallery-thumbs {
//     height: 20%;
//     box-sizing: border-box;
//     padding: 10px 0;
//   }
//   .gallery-thumbs .swiper-slide {
//     width: 25%;
//     height: 100%;
//     opacity: 0.4;
//   }
//   .gallery-thumbs .swiper-slide-thumb-active {
//     opacity: 1;
//   }