<ion-grid>
  <ion-row>
    <ion-col col-12>
    <ion-input placeholder="Meal Plan name"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <textarea placeholder="Description(Optional)"></textarea>
      </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-12>
       Eat <input type="checkbox" value="Meat">
       <input type="checkbox" value="Fish & seafood">
       <input type="checkbox" value="eggs">
       <input type="checkbox" value="vegeatables">
       
      </ion-col>
      
  </ion-row>
  <ion-row>
    <ion-col col-12>
       Avoids <select>
            <option>Monthly</option>
            <option>Weekly</option>
          </select>
         
      </ion-col>
      
  </ion-row>
 <ion-row>
  <ion-row>
    <ion-col>
      <div>
          <button ion-button>Create Workout</button>
      </div>
  </ion-col>
  </ion-row>
 </ion-row>
</ion-grid>
<div class="client-basic">
  </div>
<div class="client-advance">

</div>