<ion-header>
    <div class="top-bar top-text">
    
        <ion-grid>
          <ion-row></ion-row>
          <ion-row style="text-align: center;">
            <ion-col col-2><div (click)="newMealBack()"><a href="#/userhome/tab_mealplans/newmealplan"><i class="fas fa-th-list"></i></a></div></ion-col>
            <ion-col col-8>New Mealplan</ion-col>
            <!-- <ion-col col-2>  <div><i class="fas fa-th-list"></i></div></ion-col> -->
          </ion-row>
        </ion-grid>
      </div>
</ion-header>
<ion-content>
  <ion-item>
      <ion-input placeholder="Meal Plan name"></ion-input>
  </ion-item>
  <!-- <mat-accordion multi="true">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Monday
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <daypplans></daypplans>            
          </ng-template>
    
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Tuesday
        </mat-expansion-panel-header>
    
        
    
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
            Wednesday
          </mat-expansion-panel-header>      
        
        </mat-expansion-panel>

    </mat-accordion> -->
    
    <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            Monday
          </ng-template>
          <daypplans></daypplans>  
          
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
             Tuesday
          </ng-template>
          <daypplans></daypplans>  
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
               Wednesday
            </ng-template>
            <daypplans></daypplans>  
          </mat-tab>
          <mat-tab>
              <ng-template mat-tab-label>
                 Thursday
              </ng-template>
              <daypplans></daypplans>  
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                   Friday
                </ng-template>
                <daypplans></daypplans>  
              </mat-tab>
              <mat-tab>
                  <ng-template mat-tab-label>
                     Saturday
                  </ng-template>
                  <daypplans></daypplans>  
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                       Sunday
                    </ng-template>
                    <daypplans></daypplans>  
                  </mat-tab>
      </mat-tab-group>
        <button class="add-exe-btn" (click)="createMeal()">Create Meal</button>
    
        
</ion-content>



<!-- <ion-row class="row-text"><ion-col col-12>Avoid</ion-col></ion-row>
<ion-row>
  <ion-col col-12>
      <ion-list>
        <ion-item><ion-label>Cocks & Cold Drinks</ion-label><ion-checkbox color="dark"></ion-checkbox></ion-item>
        <ion-item><ion-label> Fat  </ion-label><ion-checkbox color="dark"></ion-checkbox></ion-item>
        <ion-item><ion-label>vegeatables </ion-label><ion-checkbox color="dark"></ion-checkbox></ion-item>
        
       </ion-list>
     
    </ion-col>
    
</ion-row> -->