<span class="spanTab" ><button class="btnTab" (click)="gotoHome($event)" href="#/userhome/tab_home"> <a href="#/userhome/tab_home">
  <ion-icon class="iconTab" name="home"></ion-icon>
  
</a> </button></span>
              <span class="spanTab"><button class="btnTab" (click)="gotoHome($event)">  <a href="#/userhome/tab_search">
                <ion-icon class="iconTab" name="search"></ion-icon>
              </a> </button></span>
              <span class="spanTab"><button class="btnTab" (click)="gotoHome($event)"> <a href="#/userhome/tab_views">
                <ion-icon class="iconTab" name="book"></ion-icon>
              </a> </button></span> -
              <span class="spanTab"><button class="btnTab" (click)="gotoHome($event)"> <a href="#/userhome/tab_profile">
                <ion-icon class="iconTab" name="person"></ion-icon>
              </a> </button></span> 

              <!-- <ion-tabs [activeTab]="1">
                  <ion-tab tabTitle="Tab1" [root]="tab1"></ion-tab>
                  <ion-tab tabTitle="Tab2" [root]="tab2"></ion-tab>
                  <ion-tab tabTitle="Tab2" [root]="tab3"></ion-tab>
                  <ion-tab tabTitle="Tab2" [root]="tab4"></ion-tab>
                </ion-tabs> -->