<span class="spanTab"><button> <a href="#/userhome/tab_home">
  <ion-icon name="home"></ion-icon>
</a> </button></span>
              <span class="spanTab"><button> <a href="#/userhome/tab_search">
                <ion-icon name="search"></ion-icon>
              </a> </button></span>
              <span class="spanTab"><button> <a href="#/userhome/tab_views">
                <ion-icon name="book"></ion-icon>
              </a> </button></span>
              <span class="spanTab"><button> <a href="#/userhome/tab_profile">
                <ion-icon name="person"></ion-icon>
              </a> </button></span>