<!-- <span class="spanTab" ><button class="btnTab" (click)="gotoHome($event)" href="#/userhome/tab_home"> <a href="#/userhome/tab_home">
  <ion-icon class="iconTab" name="home"></ion-icon>
  
</a> </button></span>
              <span class="spanTab"><button class="btnTab" (click)="gotoHome($event)">  <a href="#/userhome/tab_search">
                <ion-icon class="iconTab" name="search"></ion-icon>
              </a> </button></span>
              <span class="spanTab"><button class="btnTab" (click)="gotoHome($event)"> <a href="#/userhome/tab_views">
                <ion-icon class="iconTab" name="book"></ion-icon>
              </a> </button></span> -
              <span class="spanTab"><button class="btnTab" (click)="gotoHome($event)"> <a href="#/userhome/tab_profile">
                <ion-icon class="iconTab" name="person"></ion-icon>
              </a> </button></span>  -->
              
              <!-- <ion-tabs >
                  <ion-tab tabTitle="Tab1" [root]="tab1" tabIcon="contact" active></ion-tab>
                  <ion-tab tabTitle="Tab2" [root]="tab2"></ion-tab>
                  <ion-tab tabTitle="Tab2" [root]="tab3"></ion-tab>
                  <ion-tab tabTitle="Tab2" [root]="tab4"></ion-tab>
                </ion-tabs> -->

               





              <!-- NEW WORKOUT TABS -->
              <span class="spanTab" ><button class="btnTab" (click)="gotoHome($event)" href="#/userhome/tab_exercises"><a href="#/userhome/tab_exercises">
                <img class="iconTab" src="../../assets/icon/abs.png">
                
              </a></button></span>
              <span class="spanTab" ><button class="btnTab" (click)="gotoHome($event)" href="#/userhome/tab_exercises"> <a href="#/userhome/tab_workouts">
                <img class="iconTab" src="../../assets/icon/list.png">
                
              </a> </button></span>
              <span class="spanTab" ><button class="btnTab" (click)="gotoHome($event)" href="#/userhome/tab_exercises"> <a href="#/userhome/tab_schedule">
                <img class="iconTab" src="../../assets/icon/alarm-clock.png">
                
              </a> </button></span>
              <span class="spanTab" ><button class="btnTab" (click)="gotoHome($event)" href="#/userhome/tab_exercises"> <a href="#/userhome/tab_mealplans">
                <img class="iconTab" src="../../assets/icon/diet.png">
                
              </a> </button></span>
              <span class="spanTab" ><button class="btnTab" (click)="gotoHome($event)" href="#/userhome/tab_exercises"> <a href="#/userhome/tab_profile">
                <img class="iconTab" src="../../assets/icon/user.png">
                
              </a> </button></span>
              
              
