<!-- <span class="spanTab" ><button  class="btnTab"  href="#/userhome/tab_exercises">
  <img class="iconTab" src="../../assets/icon/dumbell.png" id="exercise" (click)="goto($event)" >                
</button></span> -->

<!-- <span class="spanTab" ><div class="btnTab" href="#/userhome/tab_exercises" ion-tab-button>
  <img class="iconTab" src="../../assets/icon/list.png" id="workout"  (click)="goto($event)">                
</div></span> -->

<!-- <span class="spanTab" ><button  class="btnTab"  href="#/userhome/tab_exercises"> 
  <img class="iconTab" id="schedule" (click)="goto($event)" src="../../assets/icon/alarm-clock.png">              
 </button></span> -->

<!-- <span class="spanTab" ><button  class="btnTab" (click)="goto($event)" >
  <img class="iconTab" id="mealplans" href="#/userhome/tab_exercises" src="../../assets/icon/diet.png">                
</button></span> -->

<!-- <span class="spanTab" ><button class="btnTab" (click)="goto($event)" ion-tab-button>
  <img class="iconTab" id="client" href="#/userhome/tab_exercises" src="../../assets/icon/abs.png" (click)="goto($event)">                
</button></span>   -->

<!-- <span class="spanTab" ><button  class="btnTab"  href="#/userhome/tab_exercises"> 
  <img class="iconTab" id="profile" (click)="goto($event)" src="../../assets/icon/user.png">                
</button></span> -->

<!-- <ion-segment class="segment-tab" >
   <ion-segment-button value="friends" class="btnTab" id="workout"  (click)="goto($event)">
      Workout  
  </ion-segment-button>
  <ion-segment-button value="enemies" class="btnTab" id="client" (click)="goto($event)">
      Client
  </ion-segment-button>  
</ion-segment> -->


<ion-tabs>
 
  <!-- <ion-tab-bar slot="bottom"> -->

    <button ion-tab-button class="btnTab" id="btnClient">
      
          <ion-icon class="custom-client-icon" id="client" (click)="goto($event)"></ion-icon>
          <!-- <div *ngIf="currentTab == 'tab_clients'">
              <ion-icon name="arrow-dropup" ></ion-icon>
          </div> -->
          
    </button>
 
    <button ion-tab-button class="btnTab" id="btnWorkout">
        <ion-icon class="custom-workout-icon" id="workout" (click)="goto($event)"></ion-icon>
        <!-- <div *ngIf="currentTab == 'tab_workouts'">
            <ion-icon name="arrow-dropup"></ion-icon>
        </div> -->
    </button>
    
    <!-- <button ion-tab-button class="btnTab">
      <ion-icon name="options"></ion-icon>
      <div *ngIf="currentTab === 'tab_workouts'">
          <ion-icon name="arrow-dropdown"></ion-icon>
      </div>
    </button>
    <button ion-tab-button class="btnTab">
      
        <ion-icon name="person"></ion-icon>
        <div *ngIf="currentTab === 'tab_workouts'">
            <ion-icon name="arrow-dropup"></ion-icon>
        </div>
      </button> -->
  <!-- </ion-tab-bar> -->
 
</ion-tabs>


