trainertabs {

}

.btnTab
{
    // display: inline-table;
    --color: #c3ff48;
    // box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
    width: 49%;
}
.segment-tab {
    transition: 2s;
}
.btnTab ion-icon {
    // color: #2abb9c;
    // zoom: 1.4;
    font-size: 20pt;
    display:inline-block;
    transition: 0.5s;
    margin: 10px 10px 10px 10px;
     // float:none !important;
}

.activeTab {    
        color: #2abb9c;
        
        // border-radius: 30px;
}