ion-slides {
    // width: 100%;
}
#slide1 {
    background-color: #2abb9c;
    height: 100%;
    width: 100%;
}
#slide2 {
    background-color:#2abb9c
}
#slide3 {
    background-color:#2abb9c
}
.start {
    // height: 50px;
    // width: 200px;
    // background: cornflowerblue;
    text-align: left;
    font-weight: 100%;
    font-size: 100%;
    transparency: 0.1;
}
.slides-first {
    position: absolute;
       bottom: 10%;
       left: 0;
}
.first-image {
    height: 100%;
    width: 100%;
}
.swiper-pagination-bullet-active {
    background: goldenrod;
    width: 25px;
    padding-right: 10px;
  }
  .swiper-pagination-bullet
  {
    text-decoration: none;
    // width: 20px;
    border-radius: 0%;
    transition: 0.5s;
    
  }
  .swiper-pagination {
    top: 90%;
    // bottom:0px;
  }