<ion-slides pager="true" size=100>
  <ion-slide id="slide1">
    
    <ion-grid class="slides-first">
      <ion-row>
        <ion-col>
            <img src="../../assets/imgs/gym_trainer.jpeg">
            <h1>Training Gym Client Easily</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
   
  </ion-slide>

  <ion-slide id="slide2">
      
      <ion-grid class="slides-first">
          <ion-row>
            <ion-col>
                <img src="../../assets/imgs/gym_trainer.jpeg">
                <h1>Help them Follow their Schedule </h1>
            </ion-col>
          </ion-row>
        </ion-grid>
    
  </ion-slide>

  <ion-slide id="slide3">
      
      <ion-grid class="slides-first">
          <ion-row>
            <ion-col>
                <h1>Get Start</h1>
          <button (click)="set()" class="start">
            <!-- <ion-nav [root]="rootPage" #myNav></ion-nav> -->
             Start
          </button>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-slide>
</ion-slides>