ion-slides {
    // height: auto;
}
#slide1 {
    background-color: rgba(51, 117, 153, 0.589);
    
}
#slide2 {
    background-color:paleturquoise
}
#slide3 {
    background-color:cadetblue
}
.start {
    height: 20px;
    width: 100px;
    background: cornflowerblue;
}
