
  <ion-slides pager="true" style="padding: 0%" class="first-slide">
      
          <ion-slide id="slide1" style="background-image: url(../../assets/imgs/slider_screen_3.png);  background-repeat: no-repeat; background-size: cover; background-position: center;">
   
            <!-- <ion-grid class="slides-first">
              <ion-row>
                <ion-col>
                    <img class="first-image" src="../../assets/imgs/gym_trainer.jpeg">
                    <h1>Training Gym Client Easily</h1>
                </ion-col>
              </ion-row>
            </ion-grid> -->
           
          </ion-slide>
      
    
  <ion-slide id="slide2" style="background-image: url(../../assets/imgs/slider_screen_3.png);  background-repeat: no-repeat; background-size: cover; background-position: center;">
      
      <!-- <ion-grid class="slides-first">
          <ion-row>
            <ion-col>
                <img src="../../assets/imgs/gym_trainer.jpeg">
                <h1>Help them Follow their Schedule </h1>
            </ion-col>
          </ion-row>
        </ion-grid> -->
    
  </ion-slide>

  <ion-slide id="slide3" style="background-image: url(../../assets/imgs/slider_screen_3.png);  background-repeat: no-repeat; background-size: cover; background-position: center;">
      
      <ion-grid class="slides-first">
          <ion-row>
            <ion-col>
              
          <button ion-button (click)="set()" class="start">
            
          Let's Go!
          </button>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-slide>
</ion-slides>