ion-slides {
    height: 100%;
}
#slide1 {
    background-color: rgba(60, 102, 124, 0.589);
    
}
#slide2 {
    background-color:#239494
}
#slide3 {
    background-color:cadetblue
}
.start {
    height: 40px;
    width: 200px;
    background: cornflowerblue;
}
.slides-first {
    position: absolute;
       top: 30%;
       left: 0;

}