<ion-header>
    <div class="top-bar top-text">
      
        <ion-grid>
          <ion-row></ion-row>
          <ion-row style="text-align: center;">
            <ion-col col-2><div (click)="goBackMuscle()"><i class="fas fa-arrow-circle-left"></i></div></ion-col>
            <ion-col col-8>Select Muscle</ion-col>
            
          </ion-row>
        </ion-grid>
      </div>
</ion-header>
<ion-content>
<ion-grid>     
              <ion-list no-lines radio-group [(ngModel)]="muscleSelected">
                  
                      <ion-item *ngFor="let item of listExer">
                          <ion-avatar item-left>
                            <img [src]=item.url>
                          </ion-avatar>
                          <ion-label>{{item.muscle_type}}</ion-label>
                          <ion-radio item-right sing [value]=item></ion-radio>
                          </ion-item>              
          </ion-list>
        
  
</ion-grid>
<ion-fab bottom right >
    <button ion-fab (click)="goNextExercise()">NEXT</button>
  </ion-fab>
</ion-content>