
<div [hidden]=showing >
  
<img class="tweetMain"   src="../../assets/imgs/loader.gif">
</div>
<ion-card *ngFor="let tweet of tweets;">

        <ion-item >
          <ion-avatar item-start>
            <img [src]=tweet.t_user_pic>
            
          </ion-avatar>
          
          <h2>{{tweet.t_title}}</h2>
          <p>{{tweet.t_date}}</p>

        </ion-item>

        <img [src]=tweet.t_image *ngIf="tweet.t_image">
      
        <ion-card-content>
          <p>{{tweet.tweetcontent}}</p>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
             
                  <ion-icon name="egg"></ion-icon>
                  

              
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="text"></ion-icon>
              <div>4 Retweets</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>
      
      </ion-card> 