<ion-grid>
    <ion-row>
      <ion-col col-12>
      <ion-input placeholder="Plan name"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <textarea placeholder="Description(Optional)"></textarea>
        </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col col-12>
          <select>
              <option>Weight Loss</option>
              <option>Muscle Growth</option>
              <option>Mass Gain</option>
              <option>Power Lifting</option>
              <option>Gain Strength</option>
            </select>
        </ion-col>
    </ion-row>
   
  </ion-grid>
  <div class="client-basic">
    </div>
  <div class="client-advance">
  
  </div>