<ion-grid>
  <ion-row style="text-align: center;">
    <ion-col col-12 >
        <div class="workoutname-list">Workout 1</div>
        <div ><img class="img-list" src="../../assets/imgs/profile-background.png"></div>
    </ion-col>

  </ion-row>
  <ion-row style="text-align: center;">
      <ion-col col-12 >
          <div class="workoutname-list">Workout 1</div>
          <div ><img class="img-list" src="../../assets/imgs/profile-background.png"></div>
      </ion-col>
  
    </ion-row>
</ion-grid>