<!-- <div class="{{item.work_colortag}}"><img class="img-list" [src]=item.work_pic></div> -->

<ion-grid padding>
  <div *ngIf="workouts" >
  <!-- <ion-row style="text-align: center;" (click)="gotoDetails(item)" *ngFor="let item of workouts">
    <ion-col col-12 >
        <div class="workoutname-list">{{item.work_name}}</div>
        
        <div><img class="img-list" [src]=item.work_pic></div>      
    </ion-col>
  </ion-row> -->
  <ion-row style="text-align: center;" (click)="gotoDetails(item)" *ngFor="let item of workouts">
      <ion-col col-12 >
        <div>Assign To Client</div>
          <div class="workoutname-list">{{item.work_name}}</div>
          
           <div><img class="img-list" [src]=item.work_pic></div>      
      </ion-col>
 
    </ion-row>
    <ion-row *ngIf="workouts.message === null" style="text-align: center;">
      <ion-col col-12>
          No Workouts
      </ion-col>
    </ion-row>
</div>
</ion-grid>