<div>
  <div class="sidemenu-profile-div">
      <div><img src="../../assets/icon/friends.svg" class="sidebar-profileimg"></div><div class="sidebar-profilename">{{currentUser.fname +' '+ currentUser.lname}}</div>  
  </div>
</div>
<div class="menu-main">
  <div class="sidebar-menu">
    <div class="sidebar-menu-icon">
      <img src="../../assets/icon/client.svg" class="sidebar-icon">
    </div> 
    <div class="sidebar-menuname" (click)="navHome()">
      clients
    </div>
  </div>
  <div class="sidebar-menu">
    <div class="sidebar-menu-icon">
      <img src="../../assets/icon/exercise.svg" class="sidebar-icon">
    </div> 
    <div class="sidebar-menuname">
      my-exercises
    </div>
  </div>
  <div class="sidebar-menu">
    <div class="sidebar-menu-icon">
      <img src="../../assets/icon/work-plan.svg" class="sidebar-icon">
    </div> 
    <div class="sidebar-menuname">
      my-workouts
    </div>
  </div> 
  <div class="sidebar-menu">
    <div class="sidebar-menu-icon">
      <img src="../../assets/icon/meal-plan.svg" class="sidebar-icon">
    </div> 
    <div class="sidebar-menuname">
      my-meals
    </div>
  </div>
    <div class="sidebar-menu">
        <div class="sidebar-menu-icon">
          <img src="../../assets/icon/schedule.svg" class="sidebar-icon">
        </div> 
        <div class="sidebar-menuname">
          schedules
        </div>
      </div>
      
  <div class="sidebar-menu">
    <div class="sidebar-menu-icon">
      <img src="../../assets/imgs/sidebar-settings.svg" class="sidebar-icon">
    </div> 
    <div class="sidebar-menuname">
      settings
    </div>
  </div>
</div>