<div>
  <div class="sidemenu-profile-div">
      <div><img src="../../assets/icon/friends.svg" class="sidebar-profileimg"></div><div class="sidebar-profilename">ASHESH PARMAR</div>  
  </div>
</div>
<div class="menu-main">
  <div class="sidebar-menu">
    <div class="sidebar-menu-icon">
      <img src="../../assets/imgs/sidemenu-home.svg" class="sidebar-icon">
    </div> 
    <div class="sidebar-menuname" (click)="navHome()">
      home
    </div>
  </div>
  <div class="sidebar-menu">
    <div class="sidebar-menu-icon">
      <img src="../../assets/imgs/sidebat-moments.svg" class="sidebar-icon">
    </div> 
    <div class="sidebar-menuname">
      my-workouts
    </div>
  </div>
  <div class="sidebar-menu">
      <div class="sidebar-menu-icon">
        <img src="../../assets/imgs/sidebat-moments.svg" class="sidebar-icon">
      </div> 
      <div class="sidebar-menuname">
        exercises
      </div>
    </div>
    <div class="sidebar-menu">
        <div class="sidebar-menu-icon">
          <img src="../../assets/imgs/sidebat-moments.svg" class="sidebar-icon">
        </div> 
        <div class="sidebar-menuname">
          schedules
        </div>
      </div>
  <div class="sidebar-menu">
    <div class="sidebar-menu-icon">
      <img src="../../assets/imgs/sidebar-settings.svg" class="sidebar-icon">
    </div> 
    <div class="sidebar-menuname">
      settings
    </div>
  </div>
</div>