<ion-header>
        <div class="top-bar top-text">
        
            <ion-grid>
              <ion-row></ion-row>
              <ion-row style="text-align: center;">
                        <ion-col col-1>  <div (click)="goBack()"><i class="fas fa-chevron-circle-left"></i></div></ion-col>
                <ion-col col-11>{{clientInfo.client_name}}</ion-col>
                
              </ion-row>
            </ion-grid>
          </div>
    </ion-header>
    <ion-content class="contentMain" padding>
        <ion-grid>
                <ion-row style="text-align: center;">
                                <ion-col col-12>Body Measurements</ion-col>        
                </ion-row>
            <ion-row style="text-align: center;">
                    
                <ion-col col-12>
                    
                    <ion-list inset>
                        <ion-item>
                                <ion-label >Weight</ion-label>
                                <ion-input type="number" min="30" placeholder="inch" [(ngModel)]="userMeasure.weight" class="numberInput"></ion-input>
                                
                                
                        </ion-item>
                        <ion-item>
                                <ion-label>Height</ion-label>
                                
                                <ion-input type="number" min="1" max="15" placeholder="inch" [(ngModel)]="userMeasure.height"></ion-input> 
                                
                                
                                
                        </ion-item>
                        <ion-item>
                                <ion-label>Chest</ion-label>
                                <ion-input type="number" placeholder="inch" [(ngModel)]="userMeasure.chest"></ion-input> 
                        </ion-item>
                        <ion-item>
                                <ion-label>Biceps</ion-label>
                                <ion-input type="number"  placeholder="Left" [(ngModel)]="userMeasure.biceps"></ion-input> 
                                
                        </ion-item>
                        <ion-item>
                                <ion-label>Forearm</ion-label>
                                <ion-input type="number" placeholder="Left" [(ngModel)]="userMeasure.forearm"></ion-input> 
                                <!-- <ion-input type="number" placeholder="Right" [(ngModel)]="userMeasure.forearm.split(',')[1]"></ion-input>  -->
                        </ion-item>
                       
                        <ion-item>
                                <ion-label>Neck</ion-label>
                                <ion-input type="number" placeholder="inch" [(ngModel)]="userMeasure.neck"></ion-input> 
                        </ion-item>
                        <ion-item>
                                <ion-label>Shoulders</ion-label>
                                <ion-input type="number" placeholder="inch" [(ngModel)]="userMeasure.shoulder"></ion-input> 
                        </ion-item>
                        <ion-item>
                                <ion-label>Thigh</ion-label>
                                <ion-input type="number" placeholder="Left" [(ngModel)]="userMeasure.thigh"></ion-input> 
                                <!-- <ion-input type="number" placeholder="Right"></ion-input>  -->
                        </ion-item>
                       
                    </ion-list>
                   
                    
                    
                </ion-col>
                
            
            </ion-row>
        <!-- <img src="../../assets/imgs/person_body.jpg"> -->
            
                <!-- <ion-row>
                    
                    <ion-col col-4>Muscular endurance</ion-col>
                    <ion-col col-8>
                        
                        <ion-list>
                            <ion-item>
                                    <ion-label>Weight</ion-label>
                                    <ion-input placeholder="kg"></ion-input> 
                                    
                            </ion-item>
                            <ion-item>
                                    <ion-label>Height</ion-label>
                                    <ion-input placeholder="inch"></ion-input> 
                            </ion-item>
                            <ion-item>
                                    <ion-label>Chest</ion-label>
                                    <ion-input placeholder="cm"></ion-input> 
                            </ion-item>
                            
                           
                        </ion-list>
                       
                        
                        
                    </ion-col>
                </ion-row> -->
            
                <ion-row>
                    <ion-col><button class="add-exe-btn" (click)="generateAssessment()">Assess</button></ion-col>
                </ion-row>
        </ion-grid>
        <ion-grid>
                <ion-row style="text-align: center;">
                        <ion-col col-12>
                                Client Goal
                        </ion-col>
                </ion-row>
               
                <ion-row>
                        <ion-col col-12>
                                        <ion-item>
                                                        <ion-label>Goal</ion-label>
                                                        <ion-select [(ngModel)]="clientInfo.client_goal" (ionChange)="changeClientGoal(clientInfo.client_goal,clientInfo.id)">
                                                          <ion-option ion-option value="Muscle Building">Muscle Building</ion-option>
                                                          <ion-option value="Gain Strength">Gain Strength</ion-option>
                                                          <ion-option value="Mass Growth">Mass Growth</ion-option>
                                                          <ion-option value="Athlete Body">Athlete Body</ion-option>
                                                          <ion-option value="Powerlifting">Powerlifting</ion-option>
                                                          <ion-option value="Fat Loss">Fat Loss</ion-option>
                                                        </ion-select>
                                                      </ion-item>
                                
                        </ion-col>
                </ion-row>
               
        </ion-grid>
    </ion-content>