.divMain {
    position: absolute;
    left: 0%;
    height: 100%;
    width: 100%;
    background: rebeccapurple;
}
.divTop {
    height: 90%;
    width: 100%;
    background: cadetblue;
}
.divBottom {
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
     background: #15452A;
}
.spanTab {
    height: 100%;
    // background: yellow;
    width: 24%;
    display: inline-block;
}

.btnLogout  {
    position:absolute;
    right:0px;
    top:0px;
    width: 20%;
    background: #829C73;
}
.divNoti {
    height: 100%;
    width: 50px;
    background: #829C73;
    position: absolute;
    right: 20%;
    top:0px;
}
.iconNotification {
    height: 100%;
    width: 100%;
}
.divMenu {
    background: red;
    height: 100%;
    // position: absolute;
    width: 100%;
    display: none;
}


