.img-logout {
    height: 30%;
    width: 10%;
    position: absolute;
    right: 0%;
    top: 0%;
}
.contentMain {
    width: 100%;
    height: 100%;
}
body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #fafafa;
}
