<span class="spanTabClient" ><button class="btnTab"  href="#/userhome/tab_exercises"><a href="#/userhome/tab_exercises">
  <img class="iconTab" src="../../assets/icon/abs.png">                
</a></button></span>


<span class="spanTabClient" ><button class="btnTab" href="#/userhome/tab_exercises"> <a href="#/userhome/tab_mealplans">
  <img class="iconTab" src="../../assets/icon/diet.png">                
</a> </button></span>

<span class="spanTabClient" ><button class="btnTab" href="#/userhome/tab_exercises"> <a href="#/userhome/tab_schedule">
  <img class="iconTab" src="../../assets/icon/alarm-clock.png">              
</a> </button></span>

<span class="spanTabClient" ><button class="btnTab" > <a href="#/userhome/tab_profile">
  <img class="iconTab" src="../../assets/icon/user.png">                
</a> </button></span>