.btnTab {
    // height: 100%;
    width: 20%;
    border: 20px;
    background: #d2d9d5;
    // margin: 5px 5px 5px 5px;
  }
  .iconTab {
    color: #AA9C6F;
    height: auto;
    height: 80%;
    margin-bottom: 20%;
    
  }
  // .btnTab:active {
  //   // background-color: rgb(138, 207, 155);
  //   color: white;
  //   color: orange;
  //   font-size: 20px;
  // }
  .link {
    padding: 30px 30px 15px 30px;
    // background: rebeccapurple;
  }
  .tab-icon {
    height: 25%;
    width: 25%;
    filter: saturate(9);
  }
  .spanTabClient {
    height: 100%;
    width: 49%;
    display: inline-block;
  }