<span class="spanTabClient" ><button class="btnTab"  href="#/userhome/tab_exercises">
  <img class="iconTab" src="../../assets/icon/abs.png" id="client_progress" (click)="goto($event)" >                
</button></span>


<span class="spanTabClient" ><button class="btnTab" href="#/userhome/tab_exercises">
  <img class="iconTab" src="../../assets/icon/diet.png" id="client_meal" (click)="goto($event)" >                
 </button></span>

<span class="spanTabClient" ><button class="btnTab" href="#/userhome/tab_exercises"> 
  <img class="iconTab" src="../../assets/icon/alarm-clock.png" id="client_schedule" (click)="goto($event)" >              
</button></span>

<span class="spanTabClient" ><button class="btnTab" >
  <img class="iconTab" src="../../assets/icon/user.png" id="client_profile" (click)="goto($event)" >                
</button></span>