#message {
    color: red;
    }
    .loginForm  {
        height: 100%;   
        width: 100%;
        position: absolute;
        flex-direction: column;
      }
      .gridLogin {
        position: relative;
        top: 50%;
    border: think solid black;
      }
      .loginEmail {
          --width: 100%;
      }
      .LoginContent {
          background: beige;
      }
      input[type="password"] 
      {
          font:small-caption;font-size:20px;
          font-family: Verdana,sans-serif;
    }
.app-title {
    color: black;
    font-weight: 1000;
    color: royalblue;    
}
.segment-login {
    color: blue;
    font-weight: 1000;
    font-size: 20px;
    padding: 30px;
}
.segment-login-selected {
    font-size: 20px;
}
.segment-login-unselected {
    font-size: 15px;
}