<!-- <ion-header>
  <ion-navbar>
    <ion-toolbar class="app-title">Social Web App</ion-toolbar>
  </ion-navbar>
</ion-header> -->

   <ion-content align="center" class="LoginContent">
     <div *ngIf="socialLogin">
        <signin></signin>
     </div>
     <div *ngIf="!socialLogin">
        <social-login [user]=socialUser></social-login>
     </div>
    
        <!-- <ion-segment [(ngModel)]="login" color="primary">
                <ion-segment-button value="signin">
                  Sign In
                </ion-segment-button>
                <ion-segment-button value="signup">
                  Sign Up
                </ion-segment-button>
              </ion-segment>
              <div [ngSwitch]="login">                    
              <signin *ngSwitchCase="'signin'"></signin>                
                        <signup *ngSwitchCase="'signup'"></signup>                
            </div> -->
            
       

   </ion-content>
   <ion-fab right bottom *ngIf="socialLogin">
    <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="loginFacebook()"><ion-icon name="logo-facebook" class="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter" class="logo-twitter"></ion-icon></button>
      <!-- <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button> -->
      <button ion-fab (click)="loginGoogle()"><ion-icon name="logo-googleplus" class="logo-googleplus"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  
     <router-outlet>
      
    </router-outlet>
    