<!-- <ion-header>
  <ion-navbar>
    <ion-toolbar class="app-title">Social Web App</ion-toolbar>
  </ion-navbar>
</ion-header> -->

   <ion-content align="center" class="LoginContent">
    <!-- <signin></signin> -->
        <ion-segment [(ngModel)]="login" color="primary">
                <ion-segment-button value="signin">
                  Sign In
                </ion-segment-button>
                <ion-segment-button value="signup">
                  Sign Up
                </ion-segment-button>
              </ion-segment>
              <div [ngSwitch]="login">
                    
              <signin *ngSwitchCase="'signin'"></signin>
                
                        <signup *ngSwitchCase="'signup'"></signup>
                
            </div>
            
   </ion-content>


  
     <router-outlet>
      
    </router-outlet>
    