
.prodivMain {
    float: left;
    height:25%;
    width: 40%;
    // background: rgb(65, 121, 116);
}
.divProfileImg {
    height: 100%;
    width: 100%;
    // background: saddlebrown;
}
.imgAvatar {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    // image-resolution: 200dpi;
}
.divFollow {
    padding: 10px;
    width: 60%;
    
    
    float: left;
    // background: red;
}
.divprofileName {
    width: 100%;
    height: 10%;
    // background: rebeccapurple; 
    clear: both;
}
.profileName {
    height: 30%;
    width: 40%;
    text-align: center;
    // background: red;
    
}
.buttonFF {
    margin: 5px;   
    border: 2px;
    background: rebeccapurple;
    -webkit-text-fill-color: aqua;
    height: 20px;
    width: 100%;
}
.slider-main {
    height: 100%;
    width: 100%;
    background: bisque;
}
.slider-menu {
    width: 100%;
}
.slider-btn {
    border-bottom: 2px solid; /* Green */
    border-bottom-color: rebeccapurple;
    width: 33%;
    float: left;
    padding-left: 10px;
    height: 30px;
    text-decoration: none;
}















