
  <div class="divMainBody" padding>
    <!-- <ion-button (click)="getUser()">
    profile of :
    {{searchdata}}
</ion-button> -->

<div class="divBody" padding>
<div class="divMain">
<div class="top" padding>
    <ion-avatar class="profile">
        <img [src]="avatar">
      </ion-avatar>
</div>
</div>

<div class="divproName">
<ion-label>
  @{{userid}}
</ion-label>

</div>
<div>
<ion-grid>
  <ion-row>
    <ion-col col-6>
<div>
Tweets
</div>
<div>
20
</div>
    </ion-col>
    <ion-col col-6>
        <div>
            Following
            </div>
            <div>
            20
            </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
<div class="divproName">
<input type="checkbox"/>
</div>

</div>

  </div>
