
.prodivMain {
    float: left;
    height:17%;
    width: 30%;
    // background: rgb(65, 121, 116);
}
.divProfileImg {
    height: 100%;
    width: 100%;
    // background: saddlebrown;
}
.imgAvatar {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    // image-resolution: 200dpi;
}
.divFollow {
    padding: 5px;
    width: 70%;
    
    
    float: left;
    // background: red;
}
.divprofileName {
    width: 100%;
    height: 20%;
    // background: rebeccapurple; 
    clear: both;
    font-weight: 800;
}
.profileName {
    text-decoration-style: solid;
    border-width: 0ch;
    width: 100%;
    
    resize: none; 
}
.buttonFF {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
    font-weight: 800;
    margin: 5px;   
    // border: 2px;
    background: gray;
    -webkit-text-fill-color: rgb(223, 196, 172);
    height: 20px;
    width: 70%;
}
.follow-btn {
background: #4d90fe;
}
.buttonFF:focus{
    outline: 0.5rem auto #4d90fe;
}

//slider-m
.slider-main {
    // height: auto;
    width: 100%;
    // background: silver;
}
.slider-menu {
    width: 100%; 
       height: 50px;
}
.slider-btn {
    
    width: 15%;
    float: left;
    
    height: 40px;
    text-decoration: none;
    margin-left: 15%;
    // margin-top: 5%;
    
    // background: rebeccapurple;

}
.slider-btn-grid {
    background-image: url('../../assets/icon/grid.svg');
    background-repeat: no-repeat;
    // position: absolute;
    // right: 50%;
    height: 100%;
    width: 100%;    
}
.slider-btn-menu {
    background-image: url('../../assets/icon/menu.svg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;   
}
.slider-btn-flwings {
    background-image: url('../../assets/icon/friends.svg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;   
}
// .ion-slides-all {
//     height: 300px;
// }

.more-menu {
    height: 10%;
    width: 10%;
    position: absolute;
    right: 0%;
    top: 0%;
}











