<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<ion-content *ngFor="let item of userModel">
  <div class="prodivMain">
    <div class="divProfileImg">
      <img [src]=item.profile_pic ngNonBindable class="imgAvatar"/> 
      
    </div>
   
    
  </div>
  <div class="divFollow">
    
    <button class="buttonFF">Followers {{item.followers.length}}</button>
    <button class="buttonFF">Followings {{item.followings.length}}</button>
    <div class="centerDiv">
      <!-- <input type="checkbox" value="Start Follow" class="follow" (click)="follow(requested)"/> -->
      <button ion-button (click)="follow()" *ngIf="!following">Follow</button>
      <!-- <button ion-button>Follow Back</button> -->
      <div *ngIf="requests">
      <button ion-button (click)="accept()">Accept</button>
      <button ion-button (click)="reject()">Reject</button>
    </div>
      <button ion-button *ngIf="following" (click)="unfollow()">Unfollow</button>
      <div *ngIf="requested">
        <button ion-button (click)="cancelRequest()">Cancel Request</button> 
      </div>
      
  </div>
  </div>
  <div class="divprofileName">
    <ion-label class="profileName">{{item.userid}}</ion-label> 
  </div>
  <div class="slider-menu">
      <div class="slider-menu-s3">
          <button class="slider-btn" (click)="sliderChange(0)">Feed</button>
                  </div>
    <div class="slider-menu-s1">
<button class="slider-btn" (click)="sliderChange(1)">Collection</button>
    </div>
    <div class="slider-menu-s2">
<button class="slider-btn" (click)="sliderChange(3)">Secrets</button>
      </div>
      
  </div>
  <div class="slider-main">
    <ion-slides >
        <ion-slide>
            <feeds></feeds>
          </ion-slide>
      <ion-slide>
        
      </ion-slide>

  <ion-slide>
    <h2>Secrets</h2>
  </ion-slide>

  
    </ion-slides>
    <!-- <ion-label>Collection</ion-label>
    <ion-label>Secrets</ion-label>
    <ion-label>Feeds</ion-label> -->
  </div>
    
  
  
  

  
</ion-content>