<div class="trainer-home-main">
<div class="trainer-home-top">
<ion-label class="label-activity">New Client</ion-label>
</div>
<newclient></newclient>
<div class="trainer-home-bottom">
    <button class="label-activity">Create Client</button>
</div>
</div>
<div class="trainer-home-main">
    <div class="trainer-home-top">
        <ion-label class="label-activity">New Workout</ion-label>
        </div>
        <newworkout></newworkout>
        <div class="trainer-home-bottom">
            <button class="trainer-home-bottom">Create Plan</button>
        </div>
</div>